<!-- Page Banner -->
<div
    class="page-banner-area ptb-100 four"
    style="background-image: url(images/page-title/pageTitle4.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Specialized Eye surgeons</h2>
            <ul class="pages-list">
                <li><a routerLink="/">Home</a></li>
                <li>Meet Our Doctors</li>
            </ul>
        </div>
    </div>
</div>

<!-- Dentists -->
<div class="doctor-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="images/doctor/doctor.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <button class="doctor-button"  (click)="goToDoctorDetails('Dr. Johnson Melbourne')">
                                Dr. Johnson Melbourne
                              </button> 
                        </h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="share-link">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="images/doctor/doctor.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <button class="doctor-button"  (click)="goToDoctorDetails('Dr. Ena Dicrosa')">
                                Dr. Ena Dicrosa
                              </button> 
                        </h3>
                        <span>Aesthetic Dentistry</span>
                        <div class="share-link">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="images/doctor/doctor.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <button class="doctor-button"  (click)="goToDoctorDetails('Dr. Addison Smith')">
                                Dr. Addison Smith
                              </button> 
                        </h3>
                        <span>Gastroenterologists</span>
                        <div class="share-link">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="images/doctor/doctor.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <button class="doctor-button"  (click)="goToDoctorDetails('Dr. Daisy Gabriela')">
                                Dr. Daisy Gabriela
                              </button> 
                        </h3>
                        <span>Endocrinologists</span>
                        <div class="share-link">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="images/doctor/doctor.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <button class="doctor-button"  (click)="goToDoctorDetails('Dr. Ronnie Aaron')">
                                Dr. Ronnie Aaron
                              </button> 
                        </h3>
                        <span>Dermatologists</span>
                        <div class="share-link">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="images/doctor/doctor.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <button class="doctor-button"  (click)="goToDoctorDetails('Dr. Edie Dee')">
                                Dr. Edie Dee
                              </button> 
                        </h3>
                        <span>Cardiologists</span>
                        <div class="share-link">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="images/doctor/doctor.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <button class="doctor-button"  (click)="goToDoctorDetails('Dr. Sarah Taylor')">
                                Dr. Sarah Taylor
                              </button> 
                        </h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="share-link">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="images/doctor/doctor.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <button class="doctor-button"  (click)="goToDoctorDetails('Dr. Aiken Ward')">
                                Dr. Aiken Ward
                              </button> 
                        </h3>
                        <span>Aesthetic Dentistry</span>
                        <div class="share-link">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="images/doctor/doctor.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <button class="doctor-button"  (click)="goToDoctorDetails('Dr. Babatunde Jon')">
                                Dr. Babatunde Jon
                              </button> 
                        </h3>
                        <span>Gastroenterologists</span>
                        <div class="share-link">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>