<!-- Page Banner -->
<div
    class="page-banner-area ptb-100 four"
    style="background-image: url(images/page-title/hd6.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>The EyeCare Short Story</h2>
            <ul class="pages-list">
                <li><a routerLink="/">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>

<div class="pt-100">
    <app-about />
</div>

<app-funfacts />

<div class="pt-100">
    <app-dentists />
</div>

<app-feedback />

<app-features />

<app-call-us />

<app-appointment />