
<!-- Features Section for Home Demo - 6 -->
<div
    class="eye-care-features-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/' || router.url === '/appointment'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="eye-care-features-card">
                    <div class="features-image">
                        <img src="images/eye-care/features/features-1.png" alt="image">
                    </div>
                    <div class="features-content">
                        <h3>
                            <a routerLink="/service-details">
                                Eye Safety First
                            </a>
                        </h3>
                        <p>Mauris blandit aliquet elit eget tincidunt nibh pulvinar lectus. Nulla quis lorem ut libero malesuada feugiat curabitur aliquet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="eye-care-features-card">
                    <div class="features-image">
                        <img src="images/eye-care/features/features-2.png" alt="image">
                    </div>
                    <div class="features-content">
                        <h3>
                            <a routerLink="/service-details">
                                Care Your Eyes
                            </a>
                        </h3>
                        <p>Mauris blandit aliquet elit eget tincidunt nibh pulvinar lectus. Nulla quis lorem ut libero malesuada feugiat curabitur aliquet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="eye-care-features-card">
                    <div class="features-image">
                        <img src="images/eye-care/features/features-3.png" alt="image">
                    </div>
                    <div class="features-content">
                        <h3>
                            <a routerLink="/service-details">
                                Check Your Eyesight
                            </a>
                        </h3>
                        <p>Mauris blandit aliquet elit eget tincidunt nibh pulvinar lectus. Nulla quis lorem ut libero malesuada feugiat curabitur aliquet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
