<div class="widget widget_search">
    <form class="search-form">
        <input type="search" class="search-field" placeholder="Search...">
        <button type="submit">
            <i class='bx bx-search-alt'></i>
        </button>
    </form>
</div>
<div class="widget widget_info">
    <div class="image">
        <img src="images/doctor/doctor.jpg" alt="image">
    </div>
    <div class="content">
        <h3>Daisy Gabriela</h3>
        <p>Lorem ipsum dolor sit amet, consectetur  incidunt ut labore et dolore magnam.</p>
        <div class="share-link">
            <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a href="https://twitter.com/?lang=en" target="_blank"><i class='bx bxl-twitter'></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>
        </div>
    </div>
</div>
<div class="widget widget_inba_posts_thumb">
    <h3 class="widget-title">Recent posts</h3>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <span
                class="fullimage cover"
                style="background-image: url(images/blog/blog1.jpg);"
                role="img"
            ></span>
        </a>
        <div class="info">
            <span>Nov 27, 2025</span>
            <h4 class="title usmall">
                <a routerLink="/blog-details">New Technology Make for Eye Operation</a>
            </h4>
        </div>
    </article>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <span
                class="fullimage cover"
                style="background-image: url(images/blog/blog1.jpg);"
                role="img"
            ></span>
        </a>
        <div class="info">
            <span>Nov 26, 2025</span>
            <h4 class="title usmall">
                <a routerLink="/blog-details">Regular Eye Care Keeps Your Vision Bright and Clear.</a>
            </h4>
        </div>
    </article>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <span
                class="fullimage cover"
                style="background-image: url(images/blog/blog1.jpg);"
                role="img"
            ></span>
        </a>
        <div class="info">
            <span>Nov 25, 2025</span>
            <h4 class="title usmall">
                <a routerLink="/blog-details">Eye Care for All Ages to Keep Your Vision Bright</a>
            </h4>
        </div>
    </article>
</div>
<div class="widget widget_categories">
    <h3 class="widget-title">Categories</h3>
    <ul>
        <li><a routerLink="/blog-grid">Eye Care</a></li>
        <li><a routerLink="/blog-grid">Vision</a></li>
        <li><a routerLink="/blog-grid">Optometrist</a></li>
        <li><a routerLink="/blog-grid">Eye Health</a></li>
        <li><a routerLink="/blog-grid">Eye Clinic</a></li>
        <li><a routerLink="/blog-grid">Children's Eye Care</a></li>
    </ul>    
</div>
<div class="widget widget_tag_cloud">
    <h3 class="widget-title">Popular Tags</h3>
    <div class="tagcloud">
        <a routerLink="/services">Business</a>
        <a routerLink="/services">Privacy</a>
        <a routerLink="/services">Technology</a>
        <a routerLink="/services">Tips</a>
        <a routerLink="/services">Uncategorized</a>
    </div>
</div>
<div class="widget widget_instagram">
    <h3 class="widget-title">Gallery</h3>
    <ul>
        <li>
            <div class="box">
                <img src="images/gallery/gallary1.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="images/gallery/gallary1.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="images/gallery/gallary1.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="images/gallery/gallary1.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="images/gallery/gallary1.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="images/gallery/gallary1.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="images/gallery/gallary1.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="images/gallery/gallary1.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="images/gallery/gallary1.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
    </ul>
</div>