<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Make An Appointment</h2>
            <ul class="pages-list">
                <li><a routerLink="/">Home</a></li>
                <li>Appointment</li>
            </ul>
        </div>
    </div>
</div>

<!-- <app-features /> -->

<div *ngIf="loading" class="loading-spinner-overlay">
    <mat-spinner></mat-spinner>
</div>
<div class="outer-div" >
<form [formGroup]="PatientForm" (ngSubmit)="AddEdit()">
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="XYZ">
                <mat-error
                    *ngIf="PatientForm.controls['firstName'].touched && !PatientForm.controls['firstName'].valid">
                    <ng-container *ngFor="let validation of validationMessages.value">
                        <span *ngIf="PatientForm.controls['firstName'].hasError(validation.type)">
                            {{ validation.message }}
                        </span>
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="XYZ">
                <mat-error
                    *ngIf="PatientForm.controls['lastName'].touched && !PatientForm.controls['lastName'].valid">
                    <ng-container *ngFor="let validation of validationMessages.value">
                        <span *ngIf="PatientForm.controls['lastName'].hasError(validation.type)">
                            {{ validation.message }}
                        </span>
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of genderType" [value]="gender.id">
                        {{ gender.name }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="PatientForm.controls['gender'].touched && !PatientForm.controls['gender'].valid">
                    <ng-container *ngFor="let validation of validationMessages.value">
                        <span *ngIf="PatientForm.controls['gender'].hasError(validation.type)">
                            {{ validation.message }}
                        </span>
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Doctor</mat-label>
                <mat-select formControlName="doctorId" (selectionChange)="onDoctorSelect($event.value)">
                    <mat-option *ngFor="let doctor of DoctorList" [value]="doctor.id">
                        {{ doctor.userName }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="PatientForm.controls['doctorId'].touched && !PatientForm.controls['doctorId'].valid">
                    <ng-container *ngFor="let validation of validationMessages.value">
                        <span *ngIf="PatientForm.controls['doctorId'].hasError(validation.type)">
                            {{ validation.message }}
                        </span>
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <div  class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Doctor Fee</mat-label>
                <input matInput type="number" readonly formControlName="doctorFee" >
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Age</mat-label>
                <input matInput formControlName="age" type="number" min="0" max="130" placeholder="Enter Age">
                <mat-error *ngIf="PatientForm.controls['age'].touched && !PatientForm.controls['age'].valid">
                    <ng-container *ngFor="let validation of validationMessages.value">
                        <span *ngIf="PatientForm.controls['age'].hasError(validation.type)">
                            {{ validation.message }}
                        </span>
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Date</mat-label>
                <input  
                  matInput 
                  [matDatepicker]="picker" 
                  placeholder="Select Date"
                  formControlName="appoitmentDate" 
                  [min]="minDate" 
                  [max]="maxDate" 
                  (dateChange)="onDateChange($event.value)"                         
                  matTooltipPosition="above">
              
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> 
              
                <mat-error *ngIf="PatientForm.controls['appoitmentDate'].touched && !PatientForm.controls['appoitmentDate'].valid">
                  <ng-container *ngFor="let validation of validationMessages.value">
                    <span *ngIf="PatientForm.controls['appoitmentDate'].hasError(validation.type)">
                      {{ validation.message }}
                    </span>
                  </ng-container>
                </mat-error>
              </mat-form-field>
              
            
              
              
              
              
              
              
              
              
           
            <!--<mat-form-field appearance="outline" class="w-100">
                <mat-label>Appointment Time</mat-label>
                <input matInput type="time" formControlName="appoitmentTime">

            </mat-form-field>-->
            <!-- <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Day</mat-label>
                <mat-select formControlName="dayId">
                    <mat-option *ngFor="let day of weekDays" [value]="day.id">
                        {{ day.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Slot</mat-label>
            <input matInput formControlName="timeSlot" placeholder="Select a time" readonly>
            <mat-error *ngIf="PatientForm.controls['timeSlot'].touched && !PatientForm.controls['timeSlot'].valid">
                <ng-container *ngFor="let validation of validationMessages.value">
                    <span *ngIf="PatientForm.controls['timeSlot'].hasError(validation.type)">
                        {{ validation.message }}
                    </span>
                </ng-container>
            </mat-error>
        </mat-form-field>
    </div>
    
    <!-- Time Slots Pagination -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  col-12 d-flex justify-content-center">
            <div class="time-slot-container">
                <!-- Left Button -->
                <button mat-icon-button type="button" (click)="scrollLeft()" [disabled]="currentPage === 0">
                    <mat-icon class="mat-icon-color">chevron_left</mat-icon>
                </button>

                <!-- Time Slots -->
                <div class="time-slot-wrapper">
                    <button type="button" *ngFor="let slot of paginatedSlots" class="time-slot-btn"
                        [ngClass]="{ 'selected': selectedSlot === slot }" (click)="selectSlot(slot)">
                        {{ slot }}
                    </button>
                </div>

                <!-- Right Button -->
                <button mat-icon-button type="button" (click)="scrollRight()"
                    [disabled]="(currentPage + 1) * slotsPerPage >= doctorAvailibalTimeSlots.length">
                    <mat-icon class="mat-icon-color">chevron_right</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phoneNumber" placeholder="03">
                <mat-error
                    *ngIf="PatientForm.controls['phoneNumber'].touched && !PatientForm.controls['phoneNumber'].valid">
                    <ng-container *ngFor="let validation of validationMessages.mobile">
                        <span *ngIf="PatientForm.controls['phoneNumber'].hasError(validation.type)">
                            {{ validation.message }}
                        </span>
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>CNIC</mat-label>
                <input matInput formControlName="cnic" placeholder="XXXXX-XXXXXXX-X" (input)="formatCNIC($event)">
                <mat-error *ngIf="PatientForm.controls['cnic'].touched && !PatientForm.controls['cnic'].valid">
                  <ng-container *ngFor="let validation of validationMessages.cnic">
                    <span *ngIf="PatientForm.controls['cnic'].hasError(validation.type)">
                      {{ validation.message }}
                    </span>
                  </ng-container>
                </mat-error>
              </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" placeholder="XYZ">
                <mat-error *ngIf="PatientForm.controls['city'].touched && !PatientForm.controls['city'].valid">
                    <ng-container *ngFor="let validation of validationMessages.value">
                        <span *ngIf="PatientForm.controls['city'].hasError(validation.type)">
                            {{ validation.message }}
                        </span>
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Blood Type</mat-label>
                <mat-select formControlName="bloodType">
                    <mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType">
                        {{ bloodType }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Marital Status</mat-label>
                <mat-select formControlName="maritalStatus">
                    <mat-option *ngFor="let status of materialType" [value]="status.id">
                        {{ status.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    
     <!-- Modal Footer -->
     <div class="modal-footer d-flex justify-content-end">       
 
        <!-- <div class="g-recaptcha"
            [attr.data-sitekey]="siteKey"
            data-callback="captchaResolved">
        </div>

        <div *ngIf="captchaError" style="color:red;">
            Please complete the CAPTCHA.
        </div> -->

        <button mat-raised-button  type="submit" class=" AppointmentButtonColour">
          Book An Appointment
        </button>
    </div>
</form>
</div>
<!-- <app-appointment /> -->
